.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.Ingreso__TablaDatos {
    margin-top: 50px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    /* height: 200px; */
    /* max-height: 200px; */
}

.resultados__container {
    margin-top: 10px;
    margin-left: 5%;
}