.lista {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 50%;
    margin-right: 10px;
    overflow: auto;
}

.mybutton { 
    color: white;
    background-color: #2a9d8f;
    border-radius: 5px 0px 5px 0px;
    padding: 5px;
    outline: none;
    animation-name: aparicion; 
    animation-duration: 3s;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

td {
    color: black;
    opacity: 1;
    animation-name: entrada;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

th {
    color: black;
    opacity: 1;
    animation-name: entrada;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}


@keyframes entrada {
  from {color: black; opacity: 0.3;}
  to {color: black; opacity: 1;}
}

@keyframes aparicion {
    from {opacity: 0.1; width: 10%};
    to {opacity: 1; width: 100%} 
}
