.lista {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 50%;
    margin-right: 10px;
    overflow: auto;
}



.lista > button { 
    color: yellow;
    background-color: teal;
    border-radius: 5px 0px 5px 0px;
    padding: 5px;
    outline: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}